header {
    width: 100%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.menu-icon {
    width:30px;
    height:30px;
}

.row-header {
    width:100%;
}

.button-sidebar {
    margin-top:0px;
   padding-top:0px;
}


.container {
    margin-left:0px !important;
    margin-right:0px !important;
    max-width:100% !important;
}

.bm-overlay {
    background: rgba(255,255,255, 0) !important;
}