* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#sidebar{
    position:fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
}

#sidebar.active{
    left: 0px;
}

#sidebar ul li{
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(100,100,100, 0.5);
}

#sidebar .toggle-btn{
    position:absolute;
    left:230px;
    top:20px;
}

#sidebar .toggle-btn span{
    display: block;
    width:30px;
    height:5px;
    background:#151719;
    margin: 5px 0px;
}

header {
    width: 100%;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.menu-icon {
    width:30px;
    height:30px;
}

.row-header {
    width:100%;
}

.button-sidebar {
    margin-top:0px;
   padding-top:0px;
}


.container {
    margin-left:0px !important;
    margin-right:0px !important;
    max-width:100% !important;
}

.bm-overlay {
    background: rgba(255,255,255, 0) !important;
}