.heading-title {
    height: 70px;
    font-size: 20px;
    background-color: yellow;
}

#button_register {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}